.App{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 40vw;
    background-color: rgb(164, 209, 212);
    border-radius: 2%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    
}